<script>
export let city = "Chicago";
export let scale = 1;

</script>

<div class='row'>
  <div class='col-1'>
    <h5>Location:</h5>
  <label>
    <input type="radio" name="city" value="Chicago" bind:group={city} /> Chicago
  </label>
<br/>
  <label>
    <input type="radio" name="city" value="Baltimore" bind:group={city} /> Baltimore
  </label>
  <br/>
  <label>
    <input type="radio" name="city" value="Los Angeles" bind:group={city} /> Los Angeles
  </label>
</div>

<div class='col-2'>
    <h5>Scaling:</h5>
  <label>
    <input type=radio name="scale" bind:group={scale} value={0} /> Within building types
  </label>
 
  <label>
    <input type=radio name="scale" bind:group={scale} value={1} /> Across all building types
  </label>
  </div>
</div>
  
  <style>
  .row {width: 100%;
		    height: 120px;
		    position: relative;
	  	margin-top: 1%; }
  .col-1 {float: left;
          width: 50%;
  text-align: center;}
  .col-2 {display: right;
          width: 50%;
  text-align: center;}
  </style>