<script>
  // Size and margins
import{extent} from 'd3-array';
import { scaleLinear } from "d3-scale";
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let datapoints = [];



 

  let transformed_data_gas_all = {}
  $:{
    datapoints.forEach((d) => {
      if ( !(d.week in transformed_data_gas_all)){
        transformed_data_gas_all[d.week] = {}
      }
      if ( !(d.day in transformed_data_gas_all[d.week])){
        transformed_data_gas_all[d.week][d.day] = []
      }
      transformed_data_gas_all[d.week][d.day].push(d.total_gas)
    })
  }
  let transformed_data_gas1 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 48)){

      if ( !(d.day in transformed_data_gas1)){
        transformed_data_gas1[d.day] = []
      }
      transformed_data_gas1[d.day].push(d.total_gas)
    }})
  }
  let transformed_data_gas2 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 49)){

      if ( !(d.day in transformed_data_gas2)){
        transformed_data_gas2[d.day] = []
      }
      transformed_data_gas2[d.day].push(d.total_gas)
    }})
  }
  let transformed_data_gas3 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 50)){

      if ( !(d.day in transformed_data_gas3)){
        transformed_data_gas3[d.day] = []
      }
      transformed_data_gas3[d.day].push(d.total_gas)
    }})
  }
  let transformed_data_gas4 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 51)){

      if ( !(d.day in transformed_data_gas4)){
        transformed_data_gas4[d.day] = []
      }
      transformed_data_gas4[d.day].push(d.total_gas)
    }})
  }
  let transformed_data_gas5 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 52)){

      if ( !(d.day in transformed_data_gas5)){
        transformed_data_gas5[d.day] = []
      }
      transformed_data_gas5[d.day].push(d.total_gas)
    }})
  }

  // ELECTRICITY DATA

  let transformed_data_electricity1 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 49)){

      if ( !(d.day in transformed_data_electricity1)){
        transformed_data_electricity1[d.day] = []
      }
      transformed_data_electricity1[d.day].push(d.total_electrity)
    }})
  }
  let transformed_data_electricity2 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 49)){

      if ( !(d.day in transformed_data_electricity2)){
        transformed_data_electricity2[d.day] = []
      }
      transformed_data_electricity2[d.day].push(d.total_electrity)
    }})
  }
  let transformed_data_electricity3 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 50)){

      if ( !(d.day in transformed_data_electricity3)){
        transformed_data_electricity3[d.day] = []
      }
      transformed_data_electricity3[d.day].push(d.total_electrity)
    }})
  }  
  let transformed_data_electricity4 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 51)){

      if ( !(d.day in transformed_data_electricity4)){
        transformed_data_electricity4[d.day] = []
      }
      transformed_data_electricity4[d.day].push(d.total_electrity)
    }})
  }  
  let transformed_data_electricity5 = {}
  $:{
    datapoints.forEach((d) => {
      if ( (d.week == 52)){

      if ( !(d.day in transformed_data_electricity5)){
        transformed_data_electricity5[d.day] = []
      }
      transformed_data_electricity5[d.day].push(d.total_electrity)
    }})
  }


// SCALES
$: yScale_electricity = scaleLinear().domain(extent(datapoints.map((d)=>d.total_gas))).range([70,0])
$: yScale_gas = scaleLinear().domain(extent(datapoints.map((d)=>d.total_gas))).range([0,70])
$: xScale = scaleLinear().domain([0,23]).range([0,150/7])

// PATH
let pathGenerator = (d) => {

  let path = "M 0," + yScale_electricity(0);
  d.forEach((value, idx) => {
    path += " " + xScale(idx) + ',' + yScale_electricity(value);})
  path += " " + xScale(23)+",70";
  return path;
}
let pathGenerator_gas = (d) => {

let path = "M 0," + yScale_gas(0);
d.forEach((value, idx) => {
  path += " " + xScale(idx) + ',' + yScale_gas(value);})
path += " " + xScale(23)+",0";
return path;
}
  
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <line x1={innerWidth/2} y1={margin.top} x2={innerWidth/2} y2={innerHeight-100+margin.top} stroke="black" />
    <line x1={innerWidth/2} y1={80} x2={innerWidth/2+(150)*3/7} y2={80} stroke="black" />
    <line x1={innerWidth/2-150} y1={160} x2={innerWidth/2} y2={160} stroke="black" />
    <line x1={innerWidth/2} y1={240} x2={innerWidth/2+150} y2={240} stroke="black" />
    <line x1={innerWidth/2-150} y1={320} x2={innerWidth/2} y2={320} stroke="black" />
    <line x1={innerWidth/2} y1={400} x2={innerWidth/2+150} y2={400} stroke="black" />
    <!--Electricity week 1-->
    <g transform="translate({innerWidth/2},330)">
    {#each Object.keys(transformed_data_electricity1) as day_nr, day_idx}
    <g transform="translate({day_idx*150/7},0)">
      <path class=path_elec d={pathGenerator(transformed_data_electricity1[day_nr])} />
    </g>
    {/each}
    </g>
    <!--Electricity week 2-->
    <g transform="translate({innerWidth/2-150},250)">
      {#each Object.keys(transformed_data_electricity2) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_elec d={pathGenerator(transformed_data_electricity2[22-day_nr])} />
      </g>
      {/each}
      </g>
      <!--Electricity week 3-->
    <g transform="translate({innerWidth/2},170)">
      {#each Object.keys(transformed_data_electricity3) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_elec d={pathGenerator(transformed_data_electricity3[day_nr])} />
      </g>
      {/each}
      </g>
      <!--Electricity week 4-->
    <g transform="translate({innerWidth/2-150},90)">
      {#each Object.keys(transformed_data_electricity4) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_elec d={pathGenerator(transformed_data_electricity4[50-day_nr])} />
      </g>
      {/each}
      </g>
      <!--Electricity week 5-->
    <g transform="translate({innerWidth/2},10)">
      {#each Object.keys(transformed_data_electricity5) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_elec d={pathGenerator(transformed_data_electricity5[day_nr])} />
      </g>
      {/each}
      </g>
    <!--Gas week 1-->
    <g transform="translate({innerWidth/2},400)">
      {#each Object.keys(transformed_data_gas1) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_gas d={pathGenerator_gas(transformed_data_gas1[day_nr])} />
      </g>
      {/each}
      </g>    
    <!--Gas week 2-->
    <g transform="translate({innerWidth/2-150},320)">
      {#each Object.keys(transformed_data_gas2) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_gas d={pathGenerator_gas(transformed_data_gas2[22-day_nr])} />
      </g>
      {/each}
      </g>  
    <!--Gas week 3-->
    <g transform="translate({innerWidth/2},240)">
      {#each Object.keys(transformed_data_gas3) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_gas d={pathGenerator_gas(transformed_data_gas3[day_nr])} />
      </g>
      {/each}
      </g>  
    <!--Gas week 4-->
    <g transform="translate({innerWidth/2-150},160)">
      {#each Object.keys(transformed_data_gas4) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_gas d={pathGenerator_gas(transformed_data_gas4[50-day_nr])} />
      </g>
      {/each}
      </g>  
    <!--Gas week 5-->
    <g transform="translate({innerWidth/2},80)">
      {#each Object.keys(transformed_data_gas5) as day_nr, day_idx}
      <g transform="translate({day_idx*150/7},0)">
        <path class=path_gas d={pathGenerator_gas(transformed_data_gas5[day_nr])} />
      </g>
      {/each}
      </g>  


    <text x={innerWidth/2-60} y={innerWidth + 50} class=text>Chicago</text>
    <text x={innerWidth/2-120} y={innerWidth + 82} class=text>(decemeber 2014)</text>
    <text x={margin.left} y={margin.top} class=titel>Hourly electricity vs gas:</text>
    <rect x={margin.left} y={margin.top+20} width="20" height="20" class=path_elec />
    <rect x={margin.left} y={margin.top+50} width="20" height="20" class=path_gas />
    <text x={margin.left+30} y={margin.top+35}>Electricity</text>
    <text x={margin.left+30} y={margin.top+65}>Gas</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .titel{
    font: bold 15px sans-serif;
  }
  .text { font: bold 30px sans-serif; }
  .path_elec {
    fill: steelblue;
    fill-opacity: 0.7;
  }
  .path_gas {
    fill: orange;
    fill-opacity: 0.7;
  }
</style>
