<script>
import { scaleLinear } from "d3-scale";
import { extent } from "d3-array";
export let datapoints;
export let scale = 0;
export let city = "Chicago";
let citydata = {};
let transformed_data = {};

function cityData(datapoints, city) {
    if (datapoints != null) {
      citydata = datapoints.filter(d => d.city == city);
    }
    
    let transformed_data = {};
    citydata.forEach((d) => {
        if ( !(d.buildingtype in transformed_data)){
        transformed_data[d.buildingtype] = []
      }
      transformed_data[d.buildingtype].push(d.total_heating_energy)
  })
return transformed_data;
}

function normalData(datapoints, city) {
    if (datapoints != null) {
      citydata = datapoints.filter(d => d.city == city);
    }
return citydata;
}

$: transformed_data = cityData(datapoints, city);
$: citydata = normalData(datapoints, city);

// Size and margins
const width = 600;
const height = 250;
const margin = { top: 10, right: 10, bottom: 20, left: 10 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// PATH & DATA functions
let pathGenerator_all = (d, yScale) => {
let path = "M 0," + yScale(extent(citydata.map((d)=>d.total_heating_energy))[0]);
d.forEach((value, idx) => {
path += " " + xScale(idx) + "," + yScale(value);})
path += " " + xScale(744)+"," + yScale(extent(citydata.map((d)=>d.total_heating_energy))[0]);
return path;
}
let pathGenerator_within = (d) => {
    
let yScale_within = scaleLinear()
                    .domain(extent(d))
                    .range([pathWidth/2,0]);
let path = "M 0,"+yScale_within(extent(d)[0]);
d.forEach((value, idx) => {
  path += " " + xScale(idx) + "," + yScale_within(value);})
  path += " " + xScale(744)+","+yScale_within(extent(d)[0]);
return path;
}
let pathGenerator_within_mirror = (d) => {
let yScale_within = scaleLinear().domain(extent(d)).range([0,pathWidth/2]);
let path = "M 0," + yScale_within(extent(d)[0]);
d.forEach((value, idx) => {
  path += " " + xScale(idx) + "," + yScale_within(value);})
  path += " " + xScale(744)+","+yScale_within(extent(d)[0]);
return path;
}

// GRAPH MEASURES AND ELEMENTS
let pathWidth = innerHeight/15
let pathLength = innerWidth-100
let days=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]

// SCALES
$: xScale = scaleLinear()
            .domain([0,744])   
            .range([0,pathLength])
$: yScale_all = scaleLinear()
                .domain(extent(citydata.map((d)=>d.total_heating_energy)))
                .range([pathWidth/2,0])
$: yScale_all_mirror = scaleLinear()
                       .domain(extent(citydata.map((d)=>d.total_heating_energy)))
                       .range([0,pathWidth/2])

</script>

<svg {width} {height}>
    <g transform="translate({margin.left + 100}, 5)">
        <line x1={0} x2={0} y1={0} y2={height-10} stroke='black' width=30% />
      {#each Object.keys(transformed_data) as build_nr, build_idx}
      <g transform="translate(0,{build_idx*pathWidth})">
        <text x={-100} y={8} class=text>{build_nr}</text>
        <line x1={0} y1={pathWidth/2} x2={-5} y2={pathWidth/2} stroke='black'/>
        {#if scale == 1}
        <path class=path d={pathGenerator_all(transformed_data[build_nr], yScale_all)} />
        <g transform="translate(0,{pathWidth/2})">
        <path class=path d={pathGenerator_all(transformed_data[build_nr], yScale_all_mirror)} />
        </g>
        {:else}
        <path class=path d={pathGenerator_within(transformed_data[build_nr])} />
        <g transform="translate(0,{pathWidth/2})">
        <path class=path d={pathGenerator_within_mirror(transformed_data[build_nr])} />
        </g>
        {/if}
    </g>
      {/each}
    <line x1={0} y1={innerHeight+17} x2={innerWidth-100} y2={innerHeight+17} stroke='black'/>
    {#each days as day, idx}
    <g transform="translate({idx*(innerWidth-100)/31},{innerHeight+17})">
      <text x={4.5} y={5.5} class=label >{day}</text>
      <line x1={0} y1={3} x2={0} y2={-3} stroke='black'/>
    </g>
    {/each}
    <line x1={31*(innerWidth-100)/31} y1={innerHeight+20} x2={31*(innerWidth-100)/31} y2={innerHeight+14} stroke='black'/>
    </g>
</svg>

  <style>
    svg {
    border: 1px solid black;
    border-radius: 5px;
    }
    .path {
      fill : orange;
      fill-opacity: .6;
      stroke : red;
      stroke-opacity: .4;

    }
    .text { font: 8px sans-serif;
            text-align: right;}
    .label {font: 6px sans-serif;}
  </style>