<script>
import { onMount } from "svelte";
import { json } from "d3-fetch";
import Path from "./_design_1_path.svelte";
import Radiobuttons from "./_design_1_radiobuttons.svelte";

let city = "Chicago";
let scale = 1;

  // DATA
/*let datapoints = [];
  onMount(async () => {
    fetch('/data/hourly_heating_december.json')
      .then(res => res.json())
      .then(data => datapoints = data)
  })*/

  let datapoints = null;
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
  })
</script>


{#if !datapoints}
  <p>Data is loading!</p>
{:else}
<div>
<Path {datapoints} {scale} {city}/>
<Radiobuttons bind:scale={scale} bind:city={city}/>
</div>
{/if}