<script>
import { json } from "d3-fetch";
import { onMount } from "svelte";
import Plot from "./_design_3_plot.svelte";
let datapoints = null;
onMount(async () => {
  datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
})
</script>

{#if !datapoints}
  <p>Data is loading!</p>
{:else}
<Plot {datapoints} />
{/if}

