<style>
    p{
        font-weight:bold;
        color : steelblue;
        font-size:larger ;
        font-family: 'Courier New', Courier, monospace;
    }
    #really{
        color : red;
    }
</style>
<p>I <span id="really">really</span> like data visualisation!</p>
