<script>
    const listex7 = {name : 'Milan', fav_things: ['Data visualization', 'Music', 'Sports', 'Physics']}
</script>

<p>My name is {listex7.name} and these are some of my favourite things: {listex7.fav_things}.</p>